.about-us-section {
  padding: 18rem 0 6rem;
  background-color: #f4f7fb;
  border-bottom: .1rem solid #e6e6e6;
  background-image: url(/static/img/about-us-bg.jpg);
  background-size: cover;
  background-position: center;
}

.about-message {
  background-color: rgba(255, 255, 255, .9);
  border-radius: .5rem;
  padding: 2rem 4rem !important;
}

.contact-card {
  background-color: #014470;

  & p {
    color: white;
    text-align: center;
  }
}

.about-quote {
  padding: 5rem;
}

.privacy-section {
  padding: 18rem 0 6rem;
  border-bottom: .1rem solid #e6e6e6;
}
