:root {
  --light-blue: #2ba6f2;
}

.main-footer {
  padding: 5rem 0;
  margin-top: 5rem;
  background-color: #f4f4f4;
}

.main-footer ul {
  font-size: 1.8rem;
}

.main-footer ul li {
  margin-bottom: 1.5rem;
}

.main-footer ul li:last-child {
  margin-bottom: 0;
}

.newsletter-signup {
  line-height: 2;
  font-size: 1.8rem;
}

.newsletter-signup h2, .newsletter-signup p {
  margin-bottom: 0;
  line-height: normal;
}

.newsletter-signup input {
  width: 84%;
  border: .2rem solid black;
  border-radius: .5rem;
  font-weight: 100;
  padding-left: 1rem;
}

.newsletter-signup input:focus {
  outline: none;
  border-color: var(--light-blue);
}

.submit-newsletter {
  font-size: 1.8rem;
  width: 10%;
  background-color: black;
  color: white;
  display: inline-block;
  border-radius: .5rem;
  font-weight: 100;
  height: 4.2rem;
  padding: 0;
  min-width: 4.2rem;
  margin: 0;
  margin-left: .2rem;
}

.social-icons {
  font-size: 1.6rem;
}

.social-icons i {
  font-size: 2.5rem;
}

.error-message {
  background-color: white;
  border: none;
}

hr {
  background-color: #e2e2e2;
  margin: 3rem 0;
}
