:root{
  --light-blue: #2ba6f2;
  --dark-blue: #014470;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
}

a {
  color: #000;
  text-decoration: none;
}

h1 {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 3rem;
  line-height: 1.5;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 3rem;
  line-height: 1.5;
}

p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #717f92;
  line-height: 3rem;
  margin-bottom: 3rem;
}

button {
  border-radius: .5rem;
  font-size: 1.5rem;
  border: .1rem solid transparent;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  min-width: 17rem;
  transition: .5s;

  &:focus {
    outline: 0;
  }
}

.mirror {
  transform: scale(-1, 1);
}

.cta-primary {
  background-color: var(--light-blue);
  color: white;

  &:hover {
    background-color: black;
    cursor: pointer;
    text-decoration: none;
  }
}

.cta-secondary {
  background-color: transparent;
  border: .2rem solid var(--light-blue);
  color: var(--light-blue);

  &:hover {
    border: .2rem solid black;
    color: black;
    cursor: pointer;
  }
}

.learn-more {
  color: var(--dark-blue);
  cursor: pointer;
}

.green {
  color: #80C02C;
}
