:root{
  --light-blue: #2ba6f2;
  --dark-blue: #014470;
}

.topnav {
  height: 4rem;
  background: linear-gradient(0deg, #003050, var(--dark-blue));
  font-size: 1.2rem;
  color: white;
}

.topnav li {
  margin-left: 2rem;

  &:first-child {
    margin-left: 0;
  }
}

.topnav-login {
  padding: .7rem;
  background-color: var(--light-blue);
  border-radius: .5rem;
}

.topnav a {
  color: white;
  text-decoration: none;
}

.mainnav {
  height: 6.5rem;
  background: linear-gradient(0deg, white, #f4f4f4);
  box-shadow: 0 .05rem .4rem .1rem rgba(0, 0, 0, .5);
  position: relative;
  z-index: 2;
}

.logo {
  max-height: 2rem;
  max-width: 20rem;
}

.nav-item {
  margin-left: 3rem;
  font-weight: 600;
  font-size: 1.8rem;
  border-bottom: .2rem solid #fff;

  &:hover {
    border-bottom: .2rem solid var(--light-blue);
  }
}

.nav-active {
  border-bottom: .2rem solid var(--light-blue);
}

.fixed-navigation {
  position: fixed;
  width: 100%;
  z-index: 3;
}

.mobile-header {
  background: linear-gradient(0deg, white, #f4f4f4);
  box-shadow: 0 .05rem .4rem .1rem rgba(0, 0, 0, .5);
  padding: 2rem 4rem 2rem 4rem;
  position: relative;
  z-index: 5;

  & .logo {
    width: 100%;
    margin: 0;
  }

  & i {
    font-size: 3rem;
    color: black;
    cursor: pointer;
  }

  & .active {
    color: var(--light-blue);
  }
}

.mobile-nav {
  animation: mobilenav .5s;

  & ul {
    margin-bottom: 1.5rem;
    background-color: rgba(255,255,255, .9);
  }

  & ul li {
    padding: 1.5rem 1rem;
    text-align: center;
    border-bottom: 1px solid black;
  }

  & ul li a {
    color: var(--light-blue);
    text-decoration: none;
    text-transform: uppercase;
  }
}
