.landing-section {
  padding: 18rem 0 6rem;
  background-color: #f4f7fb;
  border-bottom: .1rem solid #e6e6e6;
}

.full-scr-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg, #003050, #034b7a);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-preview {
  width: 100%;
  background-image: url('https://media.giphy.com/media/FRR9jSrzEJlxS/giphy.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 11.3rem;
  border-radius: .5rem;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.video-preview-overlay {
  background-color: RGBA(0, 59, 102, .70);
  height: 11.3rem;
  border-radius: .5rem;
  color: white;
  transition: .3s;

  &:hover {
    background-color: RGBA(0, 0, 0, .70);
  }
}

.video {
  width: 100%;
}

.video-close {
  position: fixed;
  top: 2rem;
  left: 2rem;
  color: white;
  background-color: RGBA(0, 0, 0, .70);
  padding: 0 1rem;
  z-index: 1001;
  cursor: pointer;
}

.intro-message {
  background-color: white;
  box-shadow: .05rem .05rem 1rem .1rem rgba(0, 0, 0, .1);
  border-radius: .5rem;
  padding: 3rem;
}

.header-image {
  bottom: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  width: 60%;
}

.header-image-center {
  bottom: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  width: 100%;
}

.parallax {
  width: 100%;
}

@media screen and (max-width: 767px) {

  .header-image {
    display: none;
  }
}

.benefit-section, .cta-section, .blog-section {
  padding: 6rem 0;
  border-bottom: .1rem solid #e6e6e6;
}

.video-section {
  padding: 6rem 0;
  border-bottom: .1rem solid #e6e6e6;
  background-color: RGBA(0, 59, 102, 1.00);
  color: white;
}

.benefit-item {
  margin-bottom: 4rem;
}

.benefit-item:last-child {
  margin-bottom: 1rem !important;
}

.benefit-item:nth-child(odd) {
  flex-direction: row-reverse;
}

.enter {
  animation: fadein 1s;
}

.features {
  background-color: #f4f7fb;
  border: .1rem solid #e6e6e6;
}

.feature-image-container {
  overflow: hidden;
}

.feature-image {
  max-width: 100%;
  height: 100%;
  margin-bottom: 2rem;
  border-radius: .5rem;
  border: .2rem solid #2ba6f2;
}

.social-section {
  height: 40rem;
  background: linear-gradient(0deg, #003050, #034b7a);
  color: white;
}

.social-image-container {
  position: absolute;
  width: 100%;
  height: 40rem;
  overflow: hidden;
  top: 0;
  left: 0;
}

.social-image {
  width: 100%;
}

@media screen and (max-width: 767px) {

  .social-image {
    display: none;
  }

  .social-quote {
    padding: 4rem !important;
  }
}

.social-quote {
  background: linear-gradient(0deg, #003050, #034b7a);
  height: 100%;
}

.social-quote h1 {
  font-size: 2.4rem;
}

.social-quote p {
  color: white !important;
  font-weight: 600;
  font-size: 1.8rem;
}

.social-quote p span {
  font-weight: 300;
  font-style: italic;
}

.blog-article-site {
  background: linear-gradient(0deg, #003050, #034b7a);
  height: 30rem;
  text-align: center;
  color: white;
  padding: 6rem;
  transition: .5s;
}

.blog-article-site:hover {
  border-bottom: 1rem solid #2ba6f2;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.blog-article-site h2 {
  margin-bottom: 0;
}

.blog-article-site:nth-child(2) {
  border-left: .2rem solid white;
  border-right: .2rem solid white;
}

.blogitem span {
  display: block;
  margin-top: 1rem;
  font-style: italic;
  color: #2ba6f2;
}

@media screen and (max-width: 767px) {

  .blog-article-site:nth-child(2) {
    border: none;
    border-bottom: .2rem solid white;
    border-top: .2rem solid white;
  }
}

.section-end {
  padding-bottom: 1rem !important;
  border-bottom: none;
}
