@import 'reset.css';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

/************************/
/*****GENERAL STUFF******/
/************************/

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
}

a {
  color: #000;
  text-decoration: none;
}

h1 {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 3rem;
  line-height: 1.5;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 3rem;
  line-height: 1.5;
}

p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #717f92;
  line-height: 3rem;
  margin-bottom: 3rem;
}

button {
  border-radius: .5rem;
  font-size: 1.5rem;
  border: .1rem solid transparent;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  min-width: 17rem;
  transition: .5s;

  &:focus {
    outline: 0;
  }
}

.mirror {
  transform: scale(-1, 1);
}

.cta-primary {
  background-color: #2ba6f2;
  color: white;

  &:hover {
    background-color: black;
    cursor: pointer;
    text-decoration: none;
  }
}

.cta-secondary {
  background-color: transparent;
  border: .2rem solid #2ba6f2;
  color: #2ba6f2;

  &:hover {
    border: .2rem solid black;
    color: black;
    cursor: pointer;
  }
}

.learn-more {
  color: #014470;
  cursor: pointer;
}

/************************/
/********NAVIGATION******/
/************************/

.topnav {
  height: 4rem;
  background: linear-gradient(0deg, #003050, #034b7a);
  font-size: 1.2rem;
  color: white;
}

.topnav li {
  margin-left: 2rem;

  &:first-child {
    margin-left: 0;
  }
}

.topnav-login {
  padding: .7rem;
  background-color: #2ba6f2;
  border-radius: .5rem;
}

.topnav a {
  color: white;
  text-decoration: none;
}

.mainnav {
  height: 6.5rem;
  background: linear-gradient(0deg, white, #f4f4f4);
  box-shadow: 0 .05rem .4rem .1rem rgba(0, 0, 0, .5);
  position: relative;
  z-index: 2;
}

.logo {
  max-height: 2rem;
  max-width: 20rem;
}

.nav-item {
  margin-left: 3rem;
  font-weight: 600;
  font-size: 1.8rem;
  border-bottom: .2rem solid #fff;

  &:hover {
    border-bottom: .2rem solid #2ba6f2;
  }
}

.nav-active {
  border-bottom: .2rem solid #2ba6f2;
}

.fixed-navigation {
  position: fixed;
  width: 100%;
  z-index: 3;
}

.mobile-header {
  background: linear-gradient(0deg, white, #f4f4f4);
  box-shadow: 0 .05rem .4rem .1rem rgba(0, 0, 0, .5);
  padding: 2rem 4rem 2rem 4rem;
  position: relative;
  z-index: 5;

  & .logo {
    width: 100%;
    margin: 0;
  }

  & i {
    font-size: 3rem;
    color: black;
    cursor: pointer;
  }

  & .active {
    color: #2ba6f2;
  }
}

.mobile-nav {
  animation: mobilenav .5s;

  & ul {
    margin-bottom: 1.5rem;
    background-color: rgba(255,255,255, .9);
  }

  & ul li {
    padding: 1.5rem 1rem;
    text-align: center;
    border-bottom: 1px solid black;
  }

  & ul li a {
    color: #2ba6f2;
    text-decoration: none;
    text-transform: uppercase;
  }
}

/************************/
/********LANDING*********/
/************************/

.landing-section {
  padding: 18rem 0 6rem 0;
  background-color: #f4f7fb;
  border-bottom: .1rem solid #e6e6e6;
}

.intro-message {
  background-color: white;
  box-shadow: .05rem .05rem 1rem .1rem rgba(0, 0, 0, .1);
  border-radius: .5rem;
}

.header-image {
  bottom: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  width: 60%;
}

.parallax {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .header-image {
    display: none;
  }
}

/************************/
/********SECTION*********/
/************************/

.benefit-section, .cta-section, .blog-section, .blog-section  {
  padding: 6rem 0;
  border-bottom: .1rem solid #e6e6e6;
}

.benefit-item:nth-child(odd) {
  flex-direction: row-reverse;
}

.enter {
  animation: fadein 1s;
}

.features {
  background-color: #F4F7FB;
  border: .1rem solid #E6E6E6;
}

.feature-image-container {
  overflow: hidden;
}

.feature-image {
  max-width: 100%;
  height: 100%;
  margin-bottom: 2rem;
  border-radius: .5rem;
  border: .2rem solid #2ba6f2;
}

.social-section {
  height: 40rem;
  background: linear-gradient(0deg, #003050, #034b7a);
  color: white;
}

.social-image-container {
  position: absolute;
  width: 100%;
  height: 40rem;
  overflow: hidden;
}

.social-image {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .social-image {
    display: none;
  }
  .social-quote {
    padding: 4rem !important;
  }
}

.social-quote {
  background: linear-gradient(0deg, #003050, #034b7a);
}

.social-quote p {
  color: white !important;
  font-weight: 600;
  font-size: 1.8rem;
}

.social-quote p span {
  font-weight: 300;
  font-style: italic;
}

.blog-article-site {
  background: linear-gradient(0deg, #003050, #034b7a);
  height: 30rem;
  text-align: center;
  color: white;
  padding: 6rem;
  transition: .5s;
}

.blog-article-site:hover {
  border-bottom: 1rem solid #2ba6f2;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.blog-article-site h2 {
  margin-bottom: 0;
}

.blog-article-site:nth-child(2){
  border-left: .2rem solid white;
  border-right: .2rem solid white;
}

.blogitem span {
  display: block;
  margin-top: 1rem;
  font-style: italic;
  color: #2BA6F2;
}

@media screen and (max-width: 767px) {
  .blog-article-site:nth-child(2){
    border: none;
    border-bottom: .2rem solid white;
    border-top: .2rem solid white;
  }
}

/************************/
/*******MAIN FOOTER******/
/************************/

.main-footer {
  padding: 5rem 0;
  margin-top: 5rem;
  background: linear-gradient(0deg, white, #f4f4f4);
  box-shadow: 0 -.05rem .4rem .1rem rgba(0, 0, 0, .5);
}

.main-footer ul {
  line-height: 2;
  font-size: 1.8rem;
}

.newsletter-signup {
  line-height: 2;
  font-size: 1.8rem;
}

.newsletter-signup h2, .newsletter-signup p {
  margin-bottom: 0;
  line-height: normal;
}

.newsletter-signup input {
  width: 75%;
  border: .2rem solid black;
  border-radius: .5rem;
  font-weight: 100;
  padding-left: 1rem;
}

.newsletter-signup input:focus {
  outline: none;
  border-color: #2ba6f2;
}

.submit-newsletter {
  font-size: 1.8rem;
  width: 10%;
  background-color: black;
  color: white;
  display: inline-block;
  border-radius: .5rem;
  font-weight: 100;
  height: 4.2rem;
  padding: 0;
  min-width: 4.2rem;
  margin-left: .2rem;
}

.social-icons {
  font-size: 3rem;
}

.social-icons i {
  margin-left: 1rem;
}

.error-message {
  background-color: #fff;
  border: none;
}

.green {
  color: #80C02C;
}


/************************/
/*******ABOUT US*********/
/************************/

.about-us-section {
  padding: 18rem 0 6rem 0;
  background-color: #f4f7fb;
  border-bottom: .1rem solid #e6e6e6;
  background-image: url('/static/img/about-us-bg.jpg');
  background-size: cover;
  background-position: center;
}

.about-message {
  background-color: rgba(255,255,255, 0.9);
  border-radius: .5rem;
  padding: 2rem 4rem !important;
}

/************************/
/*****CONTACT US*********/
/************************/

.contact-us-section {
  padding: 18rem 0 6rem 0;
  background-color: #f4f7fb;
  border-bottom: .1rem solid #e6e6e6;
  background-image: url('/static/img/contact-us-bg.jpg');
  background-size: cover;
  background-position: center;
}

.contact-form input, textarea {
  border: .1rem solid #003050;
  border-radius: .5rem;
  padding: .7rem;
  margin-top: .5rem;
}

.contact-form select {
  border: .1rem solid #003050;
  border-radius: .5rem;
  margin-top: .5rem;
  background: none;
  height: 3.3rem;
}

.contact-form .message {
  height: 10rem;
}

.contact-form .send {
  margin: 0;
}

.contact-form form {
  width: 100%;
}

.contact-form .error {
  color: #ff0000;
}

.contact-form .empty-field {
  border: .1rem solid #ff0000;
}

/************************/
/*********SIGNUP*********/
/************************/

.signup-section {
  padding: 18rem 0 6rem 0;
  background-color: #f4f7fb;
  border-bottom: .1rem solid #e6e6e6;
}


@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}

.loading {
  height: 100vh;
  width: 100vw;
}

.spinner {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;

  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #2ba6f2;
  border-radius: 100%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
